html{
    background: #f7f7f7;
    font-size: 16px;
}

body{
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
    /* font-family: 'Spartan', sans-serif; */
    font-family: 'Barlow', sans-serif;
    background: white;
    /* max-width: 1000px; */
    /* max-width: 80%; */
    max-width: 80vw;
    margin: 0 auto;
    color: rgb(49, 46, 46);
    text-align: center;
}

header, footer{
    background: #333a40;
    color: white;
    padding: 20px 10px;
}

input[type="search"]{
    width:  100%;
}
header li{
    display: inline;
}

header h1, nav {
    display: inline-block;
}

header h1, nav{
    display: inline-block;
}

@media (min-width: 1000px){

    body {
        text-align: left;
    }

    header h1 {
        width: 60%;
    }
    main {
        /* width: 680px; */
        width: 68%;
        display: inline-block;
        padding: 10px;
        /* font-size: 12px; */
    }
    
    aside {
        /* width: 270px; */
        width: 27%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
    }    
}


.product {
    border: 1px solid grey;
    /* width: 200px; */
    width: 30%;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    /* font-size: 2em; */
    font-size: 1rem;
}

ul{
    margin:0;
    /* padding: 0; */
}

li{
    list-style: none;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #0e69e9;
}

img {
    max-width: 100%;
}

.button{
    padding: 10px;
    display: inline-block;
}

/* li:nth-of-type(3){
    color: red;
} */

.button:last-of-type{
    background: #0e69e9;
    color: white;
}

/* Product detail page */
.product-detail{
    width: 660px;
}

.product-detail img{
    max-width: 50%;
    float: left;
}

/* Contact us */

form  {
    padding: 10px;
    margin:  10px 0;
    width:  600px;
}

form > div {
    margin: 10px 0;
}


.inline label {
    display: inline-block;
    width: 100px;
}

input[type="text"], input[type="email"], textarea{
    padding: 10px;
    width: 400px;
}

/* Table */
table {
    width: 400px;
    text-align: left;
    margin: 20px 0;
}

caption{
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px dotted;
    padding: 10px;
}

th, td  {
    padding: 10px;
}

tr:hover {
    background: #f5f5f5;
}

#header h1 {
    color: red;
    text-decoration: underline;
}

.header h1 {
    color: purple;
}

@media  (min-width: 600px) and (max-width: 700px){
    li{
        color: red;
    }
}

@media print{
    body{
        color: green;
    }
}

@media (min-width: 800px){

    input[type="search"]{
        width: 30%;
        margin-left: 2em;
    }

    .product{
        display: inline-block;
        width: 30%;
    }

}

